<div class="div-header">
  <div class="header-title">
    <span>Webmail Showcase</span>

    <edc-help class="help-component help-title"
              [mainKey]="'fr.techad.edc.showcase.external'"
              [subKey]="'external.header'" [lang]="lang">
    </edc-help>
  </div>
  <div class="header-bar">
    <div class="logo">
      <edc-help class="logo-img"
                [mainKey]="'fr.techad.edc.showcase.mailreader'"
                [subKey]="'leftmenu.account'"
                [options]="{ trigger: 'mouseenter', delay: [200, 300], icon: { url: 'assets/logo_WebMailDemo.png', height: 50, width: 93 } }"
                [lang]="lang"></edc-help>
<!--      <i><img class="logo-img" src="assets/logo_WebMailDemo.png"/></i>-->
      <edc-help class="account-help"
                [mainKey]="'fr.techad.edc.showcase.mailreader'"
                [subKey]="'wrong-sub-key'"
                [options]="{ placement: 'right-end', dark: true, failBehavior: { icon: failBehavior.icon.ERROR, popover: failBehavior.popover.ERROR_SHOWN } }"
                [lang]="lang"></edc-help>
    </div>
    <div class="bar-icons">
      <i class="fa fa-address-book-o bar-user-icon"></i>
      <i class="fa fa-calendar-o bar-user-icon"></i>
      <i class="fa fa-cogs bar-user-icon"></i>
      <i class="fa fa-user-circle bar-user-icon"></i>
    </div>
  </div>
  <select id="lang" class="form-group" [(ngModel)]="lang" (ngModelChange)="onLangChange($event)">
    <option *ngFor="let language of languages"
            [value]="language"
            [ngClass]="{'translation-defined': isTranslationDefined(language)}">
      {{ language | uppercase }}
    </option>
  </select>
</div>
