@import "../../global/variables";

:host {
  top: 0;
  position: fixed;
  width: 100%;

  .div-header {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 60px;

    select {
      width: 60px;
      height: 100%;
    }

    .header-title {
      padding: 15px 0 18px 30px;
      width: 250px;
      background-color: @appprimary;

      .help-title {
        padding-left: 5px;
      }
    }

    .header-bar {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      background-color: #efc271;

      .logo {
        display: flex;
        align-items: center;

        .logo-img {
          padding-left: 1em;
          padding-right: 1em;
          max-height: 60px;
        }
        edc-help {
          display: flex;
        }
      }

      .bar-icons {
        padding-right: 10px;
        margin-left: auto;
        display: flex;
        align-items: center;

        .bar-user-icon {
          cursor: pointer;
          padding: 5px 35px 5px 35px;
          font-size: 24px;
        }
      }
    }
  }
  .translation-defined {
    background-color: #efc271;
  }
}
