<div class="div-header">
  <div class="header-title">
    <span>Webmail Showcase</span>

    <!--
      Example of how to use edc-help component pointing to an external pluginId.
        Please make sure the export of this plugin is deployed at the same root as the main one and
        is referenced in the export registry file (named by default multi-doc.json)
    -->
    <edc-help class="help-component help-title"
              [pluginId]="'webmail2'"
              [key]="'fr.techad.edc.showcase.external'"
              [subKey]="'external.header'">
    </edc-help>
  </div>
  <div class="header-bar">
    <div class="logo">
      <i><img class="logo-img" src="assets/logo_WebMailDemo.png"/></i>
      <edc-help class="account-help"
                [key]="'fr.techad.edc.showcase.mailreader'"
                [subKey]="'leftmenu.account'"
                [placement]="'bottom'"
                [dark]="true" [lang]="'fr'"></edc-help>
    </div>
    <div class="bar-icons">
      <i class="fa fa-address-book-o bar-user-icon"></i>
      <i class="fa fa-calendar-o bar-user-icon"></i>
      <i class="fa fa-cogs bar-user-icon"></i>
      <i class="fa fa-user-circle bar-user-icon"></i>
    </div>
  </div>
</div>
