<div class="account-container" *ngFor="let item of treeContent; let i = index" >
  <div class="account-items">
    <div class="account-title-content" (click)="collapse(i)">
      <i class="account-icon" [ngClass]="getTitleCaretIcon(i)"></i>
      <i class="account-icon-folder" [ngClass]="getTitleFolderIcon(i)"></i>
      <span>{{ item.name }}</span>
    </div>
    <edc-help class="account-help"
              [mainKey]="'fr.techad.edc.showcase.mailreader'"
              [subKey]="'leftmenu.account'"
              [lang]="getLang()"></edc-help>
  </div>
  <app-tree-element [treeItem]="item" (selectedElement)="selectedElement($event)"></app-tree-element>
</div>
