@import "../../../../global/variables";

:host{

  .account-item {
    display: flex;
    align-items: baseline;
    color: white;
    padding: 8px 0 8px 35px;
    font-size: 15px;
    cursor: pointer;

    &.element-selected{
      background-color: lighten(@appprimary, 5%);;
    }

    &:hover{
      background-color: lighten(@appprimary, 10%);;
    }
    .account-icon-refresh {
      margin-left: auto;
      margin-right: 8px;
    }
    .account-icon-inbox {
      padding: 0 5px 0 2px;
    }
  }
}
